# Environment Variables Example


#db connection settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name

#groq api key
GROQ_API_KEY=your_groq_key

#sendgrid settings
SENDGRID_API_KEY=your_sendgrid_key
SENDGRID_FROM_EMAIL=noreply@company.com
ADMIN_EMAILS=hr-team@company.com